<h1>Listing all articles</h1>
<%= link_to "Create new article", new_article_path %>
<table>
    <tr>
        <th>Title</tr>
        <th>Description</tr>
    </tr>

    <% @articles.each do |article| %>
        <tr>
            <td><%= article.title %></td>
            <td><%= article.description %></td>
        </tr>
    <% end %>
</table>