@import "bootstrap";

#logo {
    color:#fff;
    text-transform: uppercase;
    font-weight: bold;
}

#logo:hover {
    color: black;
    text-decoration: none;
}


#black {
    background-color:red;
}